<!DOCTYPE html>
<html>
  <body>
    <p> <%=@answer%> </p>
    <br>
    <p> <%=@answer2%> </p>
    <br>
    <p> <%=@answer3%> </p>
    <br>
    <p> <%=@answer4%> </p>
    <br>
    <p> <%=@answer5%> </p>
    <br>
    <p> <%=@answer6%> </p>
    <br>
    <p> <%=@answer7%> </p>
    <br>
    <p> <%=@answer8%> </p>
    <br>
    <p> <%=@answer9%> </p>
    <br>
    <p> <%=@answer10%> </p>
    <br>
  </body>
</html>