<!DOCTYPE html>
<html>
  <head>
    <title> Study Habit/Work Questions </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1> Study Habit/Work Questions </h1>
    <h2> Please only select one answer per question </h2>
    <h3> <%=@topic6.question1 %> </h3>
       <form action="/results" method="post">
      <input type="radio" name="q6" value="V"> <%=@topic6.answer1%>
    <br>
      <input type="radio" name="q6" value="T"> <%=@topic6.answer2%>
    <br>
      <input type="radio" name="q6" value="A"> <%=@topic6.answer3%>
      <br>
     <h3> <%=@topic7.question1 %> </h3>
      <input type="radio" name="q7" value="V"> <%=@topic7.answer1%>
    <br>
      <input type="radio" name="q7" value="A"> <%=@topic7.answer2%>
    <br>
      <input type="radio" name="q7" value="T"> <%=@topic7.answer3%>
      <br>
     <h3> <%=@topic8.question1 %> </h3>
      <input type="radio" name="q8" value="A"> <%=@topic8.answer1%>
    <br>
      <input type="radio" name="q8" value="V"> <%=@topic8.answer2%>
    <br>
      <input type="radio" name="q8" value="T"> <%=@topic8.answer3%>
      <br>
     <h3> <%=@topic9.question1 %> </h3>
      <input type="radio" name="q9" value="A"> <%=@topic9.answer1%>
    <br>
      <input type="radio" name="q9" value="T"> <%=@topic9.answer2%>
    <br>
      <input type="radio" name="q9" value="C"> <%=@topic9.answer3%>
      <br>
     <h3> <%=@topic10.question1 %> </h3>
      <input type="radio" name="q10" value="V"> <%=@topic10.answer1%>
    <br>
      <input type="radio" name="q10" value="A"> <%=@topic10.answer2%>
    <br>
      <input type="radio" name="q10" value="T"> <%=@topic10.answer3%>
      <br>
      <input type="submit" name="next" href="/results">
    </form>
  </body>
</html>
